<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="mapper.com.jsgc.business.AssetMapper" >
  <resultMap id="BaseResultMap" type="pojo.com.jsgc.business.Asset" >
    <id column="assetID" property="assetid" jdbcType="INTEGER" />
    <result column="assetSerial" property="assetSerial" jdbcType="VARCHAR" />
    <result column="assetName" property="assetName" jdbcType="VARCHAR" />
    <result column="assetSpec" property="assetSpec" jdbcType="VARCHAR" />
    <result column="assetModel" property="assetModel" jdbcType="VARCHAR" />
    <result column="assetAmount" property="assetAmount" jdbcType="INTEGER" />
    <result column="assetMoney" property="assetMoney" jdbcType="INTEGER" />
    <result column="assetDate" property="assetDate" jdbcType="DATE" />
    <result column="assetOwner" property="assetOwner" jdbcType="VARCHAR" />
    <result column="assetComment" property="assetComment" jdbcType="VARCHAR" />
    <result column="assetStatus" property="assetStatus" jdbcType="INTEGER" />
    <result column="assetDelete" property="assetDelete" jdbcType="INTEGER" />
    <result column="assetDepId" property="assetDepId" jdbcType="VARCHAR" />
    <result column="projectId" property="projectId" jdbcType="INTEGER" />
  </resultMap>
  <sql id="Base_Column_List" >
    assetID, assetSerial, assetName, assetSpec, assetModel, assetAmount, assetMoney, 
    assetDate, assetOwner, assetComment, assetStatus, assetDelete, assetDepId, projectId
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from asset
    where assetID = #{assetid,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from asset
    where assetID = #{assetid,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="pojo.com.jsgc.business.Asset" >
    insert into asset (assetID, assetSerial, assetName, 
      assetSpec, assetModel, assetAmount, 
      assetMoney, assetDate, assetOwner, 
      assetComment, assetStatus, assetDelete, 
      assetDepId, projectId)
    values (#{assetid,jdbcType=INTEGER}, #{assetSerial,jdbcType=VARCHAR}, #{assetName,jdbcType=VARCHAR}, 
      #{assetSpec,jdbcType=VARCHAR}, #{assetModel,jdbcType=VARCHAR}, #{assetAmount,jdbcType=INTEGER}, 
      #{assetMoney,jdbcType=INTEGER}, #{assetDate,jdbcType=DATE}, #{assetOwner,jdbcType=VARCHAR}, 
      #{assetComment,jdbcType=VARCHAR}, #{assetStatus,jdbcType=INTEGER}, #{assetDelete,jdbcType=INTEGER}, 
      #{assetDepId,jdbcType=VARCHAR}, #{projectId,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="pojo.com.jsgc.business.Asset" >
    insert into asset
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="assetid != null" >
        assetID,
      </if>
      <if test="assetSerial != null" >
        assetSerial,
      </if>
      <if test="assetName != null" >
        assetName,
      </if>
      <if test="assetSpec != null" >
        assetSpec,
      </if>
      <if test="assetModel != null" >
        assetModel,
      </if>
      <if test="assetAmount != null" >
        assetAmount,
      </if>
      <if test="assetMoney != null" >
        assetMoney,
      </if>
      <if test="assetDate != null" >
        assetDate,
      </if>
      <if test="assetOwner != null" >
        assetOwner,
      </if>
      <if test="assetComment != null" >
        assetComment,
      </if>
      <if test="assetStatus != null" >
        assetStatus,
      </if>
      <if test="assetDelete != null" >
        assetDelete,
      </if>
      <if test="assetDepId != null" >
        assetDepId,
      </if>
      <if test="projectId != null" >
        projectId,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="assetid != null" >
        #{assetid,jdbcType=INTEGER},
      </if>
      <if test="assetSerial != null" >
        #{assetSerial,jdbcType=VARCHAR},
      </if>
      <if test="assetName != null" >
        #{assetName,jdbcType=VARCHAR},
      </if>
      <if test="assetSpec != null" >
        #{assetSpec,jdbcType=VARCHAR},
      </if>
      <if test="assetModel != null" >
        #{assetModel,jdbcType=VARCHAR},
      </if>
      <if test="assetAmount != null" >
        #{assetAmount,jdbcType=INTEGER},
      </if>
      <if test="assetMoney != null" >
        #{assetMoney,jdbcType=INTEGER},
      </if>
      <if test="assetDate != null" >
        #{assetDate,jdbcType=DATE},
      </if>
      <if test="assetOwner != null" >
        #{assetOwner,jdbcType=VARCHAR},
      </if>
      <if test="assetComment != null" >
        #{assetComment,jdbcType=VARCHAR},
      </if>
      <if test="assetStatus != null" >
        #{assetStatus,jdbcType=INTEGER},
      </if>
      <if test="assetDelete != null" >
        #{assetDelete,jdbcType=INTEGER},
      </if>
      <if test="assetDepId != null" >
        #{assetDepId,jdbcType=VARCHAR},
      </if>
      <if test="projectId != null" >
        #{projectId,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="pojo.com.jsgc.business.Asset" >
    update asset
    <set >
      <if test="assetSerial != null" >
        assetSerial = #{assetSerial,jdbcType=VARCHAR},
      </if>
      <if test="assetName != null" >
        assetName = #{assetName,jdbcType=VARCHAR},
      </if>
      <if test="assetSpec != null" >
        assetSpec = #{assetSpec,jdbcType=VARCHAR},
      </if>
      <if test="assetModel != null" >
        assetModel = #{assetModel,jdbcType=VARCHAR},
      </if>
      <if test="assetAmount != null" >
        assetAmount = #{assetAmount,jdbcType=INTEGER},
      </if>
      <if test="assetMoney != null" >
        assetMoney = #{assetMoney,jdbcType=INTEGER},
      </if>
      <if test="assetDate != null" >
        assetDate = #{assetDate,jdbcType=DATE},
      </if>
      <if test="assetOwner != null" >
        assetOwner = #{assetOwner,jdbcType=VARCHAR},
      </if>
      <if test="assetComment != null" >
        assetComment = #{assetComment,jdbcType=VARCHAR},
      </if>
      <if test="assetStatus != null" >
        assetStatus = #{assetStatus,jdbcType=INTEGER},
      </if>
      <if test="assetDelete != null" >
        assetDelete = #{assetDelete,jdbcType=INTEGER},
      </if>
      <if test="assetDepId != null" >
        assetDepId = #{assetDepId,jdbcType=VARCHAR},
      </if>
      <if test="projectId != null" >
        projectId = #{projectId,jdbcType=INTEGER},
      </if>
    </set>
    where assetID = #{assetid,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="pojo.com.jsgc.business.Asset" >
    update asset
    set assetSerial = #{assetSerial,jdbcType=VARCHAR},
      assetName = #{assetName,jdbcType=VARCHAR},
      assetSpec = #{assetSpec,jdbcType=VARCHAR},
      assetModel = #{assetModel,jdbcType=VARCHAR},
      assetAmount = #{assetAmount,jdbcType=INTEGER},
      assetMoney = #{assetMoney,jdbcType=INTEGER},
      assetDate = #{assetDate,jdbcType=DATE},
      assetOwner = #{assetOwner,jdbcType=VARCHAR},
      assetComment = #{assetComment,jdbcType=VARCHAR},
      assetStatus = #{assetStatus,jdbcType=INTEGER},
      assetDelete = #{assetDelete,jdbcType=INTEGER},
      assetDepId = #{assetDepId,jdbcType=VARCHAR},
      projectId = #{projectId,jdbcType=INTEGER}
    where assetID = #{assetid,jdbcType=INTEGER}
  </update>
</mapper>