<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="mapper.com.jsgc.business.DocumentMapper" >
  <resultMap id="BaseResultMap" type="pojo.com.jsgc.business.Document" >
    <id column="documentId" property="documentId" jdbcType="INTEGER" />
    <result column="documentSerial" property="documentSerial" jdbcType="VARCHAR" />
    <result column="documentName" property="documentName" jdbcType="VARCHAR" />
    <result column="documentUploadTime" property="documentUploadTime" jdbcType="DATE" />
    <result column="documentOwner" property="documentOwner" jdbcType="VARCHAR" />
    <result column="documentComment" property="documentComment" jdbcType="VARCHAR" />
    <result column="documentUrl" property="documentUrl" jdbcType="VARCHAR" />
    <result column="documentType" property="documentType" jdbcType="INTEGER" />
    <result column="documentDelete" property="documentDelete" jdbcType="INTEGER" />
    <result column="projectId" property="projectId" jdbcType="INTEGER" />
    <result column="contractId" property="contractId" jdbcType="INTEGER" />
  </resultMap>
  <sql id="Base_Column_List" >
    documentId, documentSerial, documentName, documentUploadTime, documentOwner, documentComment, 
    documentUrl, documentType, documentDelete, projectId, contractId
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from document
    where documentId = #{documentId,jdbcType=INTEGER}
  </select>
  <select id="ifSerialExistAdd" parameterType="java.lang.String" resultType="java.lang.Integer" >
    SELECT  count(*)
    from document
    WHERE documentSerial=#{0} and documentDelete=0
  </select>
  <select id="ifSerialExistUpdt" parameterType="pojo.com.jsgc.business.Document" resultType="java.lang.Integer">
    SELECT count(*)
    from document
    where documentSerial=#{documentSerial} and documentID!=#{documentId} and documentDelete=0
  </select>
  <select id="selectAll" resultType="pojo.com.jsgc.business.Document">
    select *
    from document d inner join project p
    on d.projectID = p.projectID
    left join contract ct
    on d.contractID = ct.contractID

    where d.documentDelete = 0
    <if test="documentSerial!=null and documentSerial!=''">
      and d.documentSerial = #{documentSerial,jdbcType=VARCHAR}
    </if>
    <if test="documentName!=null and documentName!=''">
      and d.documentName like '%${documentName}%'
    </if>
    <if test="documentType!=null and documentType!='' and documentType!=0">
      and d.documentType = #{documentType,jdbcType=INTEGER}
    </if>
    <if test="documentOwner!=null and documentOwner!=''">
      and d.documentOwner like '%${documentOwner}%'
    </if>
    <if test="docUploadTimeRange!=null and docUploadTimeRange!=''">
      and d.documentUploadTime = #{docUploadTimeRange,jdbcType=VARCHAR}
    </if>
    <if test="userID!=null and userID!=''">
      and p.projectChargerID=#{userID,jdbcType=INTEGER}
    </if>
    <if test='realOrder!=null and descOrNot!=null'>
      ORDER BY ${realOrder} ${descOrNot}
    </if>
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from document
    where documentId = #{documentId,jdbcType=INTEGER}
  </delete>
  <update id="deleteFakeByPrimaryKey" parameterType="java.lang.Integer">
    UPDATE document
    SET documentDelete=0
    WHERE documentID = #{documentId,jdbcType=INTEGER}
  </update>
  <insert id="insert" parameterType="pojo.com.jsgc.business.Document" >
    insert into document (documentId, documentSerial, documentName, 
      documentUploadTime, documentOwner, documentComment, 
      documentUrl, documentType, documentDelete, 
      projectId, contractId)
    values (#{documentId,jdbcType=INTEGER}, #{documentSerial,jdbcType=VARCHAR}, #{documentName,jdbcType=VARCHAR}, 
      #{documentUploadTime,jdbcType=DATE}, #{documentOwner,jdbcType=VARCHAR}, #{documentComment,jdbcType=VARCHAR}, 
      #{documentUrl,jdbcType=VARCHAR}, #{documentType,jdbcType=INTEGER}, #{documentDelete,jdbcType=INTEGER}, 
      #{projectId,jdbcType=INTEGER}, #{contractId,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="pojo.com.jsgc.business.Document" >
    insert into document
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="documentId != null" >
        documentId,
      </if>
      <if test="documentSerial != null" >
        documentSerial,
      </if>
      <if test="documentName != null" >
        documentName,
      </if>
      <if test="documentUploadTime != null" >
        documentUploadTime,
      </if>
      <if test="documentOwner != null" >
        documentOwner,
      </if>
      <if test="documentComment != null" >
        documentComment,
      </if>
      <if test="documentUrl != null" >
        documentUrl,
      </if>
      <if test="documentType != null" >
        documentType,
      </if>
      <if test="documentDelete != null" >
        documentDelete,
      </if>
      <if test="projectId != null" >
        projectId,
      </if>
      <if test="contractId != null" >
        contractId,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="documentId != null" >
        #{documentId,jdbcType=INTEGER},
      </if>
      <if test="documentSerial != null" >
        #{documentSerial,jdbcType=VARCHAR},
      </if>
      <if test="documentName != null" >
        #{documentName,jdbcType=VARCHAR},
      </if>
      <if test="documentUploadTime != null" >
        #{documentUploadTime,jdbcType=DATE},
      </if>
      <if test="documentOwner != null" >
        #{documentOwner,jdbcType=VARCHAR},
      </if>
      <if test="documentComment != null" >
        #{documentComment,jdbcType=VARCHAR},
      </if>
      <if test="documentUrl != null" >
        #{documentUrl,jdbcType=VARCHAR},
      </if>
      <if test="documentType != null" >
        #{documentType,jdbcType=INTEGER},
      </if>
      <if test="documentDelete != null" >
        #{documentDelete,jdbcType=INTEGER},
      </if>
      <if test="projectId != null" >
        #{projectId,jdbcType=INTEGER},
      </if>
      <if test="contractId != null" >
        #{contractId,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="pojo.com.jsgc.business.Document" >
    update document
    <set >
      <if test="documentSerial != null" >
        documentSerial = #{documentSerial,jdbcType=VARCHAR},
      </if>
      <if test="documentName != null" >
        documentName = #{documentName,jdbcType=VARCHAR},
      </if>
      <if test="documentUploadTime != null" >
        documentUploadTime = #{documentUploadTime,jdbcType=DATE},
      </if>
      <if test="documentOwner != null" >
        documentOwner = #{documentOwner,jdbcType=VARCHAR},
      </if>
      <if test="documentComment != null" >
        documentComment = #{documentComment,jdbcType=VARCHAR},
      </if>
      <if test="documentUrl != null" >
        documentUrl = #{documentUrl,jdbcType=VARCHAR},
      </if>
      <if test="documentType != null" >
        documentType = #{documentType,jdbcType=INTEGER},
      </if>
      <if test="documentDelete != null" >
        documentDelete = #{documentDelete,jdbcType=INTEGER},
      </if>
      <if test="projectId != null" >
        projectId = #{projectId,jdbcType=INTEGER},
      </if>
      <if test="contractId != null" >
        contractId = #{contractId,jdbcType=INTEGER},
      </if>
      <if test="contractId == -1" >
        contractId = null ,
      </if>
    </set>
    where documentId = #{documentId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="pojo.com.jsgc.business.Document" >
    update document
    set documentSerial = #{documentSerial,jdbcType=VARCHAR},
      documentName = #{documentName,jdbcType=VARCHAR},
      documentUploadTime = #{documentUploadTime,jdbcType=DATE},
      documentOwner = #{documentOwner,jdbcType=VARCHAR},
      documentComment = #{documentComment,jdbcType=VARCHAR},
      documentUrl = #{documentUrl,jdbcType=VARCHAR},
      documentType = #{documentType,jdbcType=INTEGER},
      documentDelete = #{documentDelete,jdbcType=INTEGER},
      projectId = #{projectId,jdbcType=INTEGER},
      contractId = #{contractId,jdbcType=INTEGER}
    where documentId = #{documentId,jdbcType=INTEGER}
  </update>
</mapper>