<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="mapper.com.jsgc.business.FinanceMapper" >
  <resultMap id="BaseResultMap" type="pojo.com.jsgc.business.Finance" >
    <id column="financeId" property="financeId" jdbcType="INTEGER" />
    <result column="financeSerials" property="financeSerials" jdbcType="VARCHAR" />
    <result column="financeDate" property="financeDate" jdbcType="DATE" />
    <result column="financeName" property="financeName" jdbcType="VARCHAR" />
    <result column="financeMoney" property="financeMoney" jdbcType="INTEGER" />
    <result column="financeStatus" property="financeStatus" jdbcType="INTEGER" />
    <result column="financeDelete" property="financeDelete" jdbcType="INTEGER" />
    <result column="financeBorrowerId" property="financeBorrowerId" jdbcType="VARCHAR" />
    <result column="financeLenderId" property="financeLenderId" jdbcType="VARCHAR" />
    <result column="financeBuyOrgId" property="financeBuyOrgId" jdbcType="VARCHAR" />
    <result column="financeBuyMethodId" property="financeBuyMethodId" jdbcType="VARCHAR" />
    <result column="financeTypeId" property="financeTypeId" jdbcType="VARCHAR" />
    <result column="payMethodId" property="payMethodId" jdbcType="VARCHAR" />
    <result column="projectId" property="projectId" jdbcType="INTEGER" />
    <result column="contractId" property="contractId" jdbcType="INTEGER" />
  </resultMap>
  <sql id="Base_Column_List" >
    financeId, financeSerials, financeDate, financeName, financeMoney, financeStatus, 
    financeDelete, financeBorrowerId, financeLenderId, financeBuyOrgId, financeBuyMethodId, 
    financeTypeId, payMethodId, projectId, contractId
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from finance
    where financeId = #{financeId,jdbcType=INTEGER}
  </select>

  <select id="selectAll" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from finance
  </select>

  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from finance
    where financeId = #{financeId,jdbcType=INTEGER}
  </delete>
  <update id="deleteFakeByPrimaryKey" parameterType="java.lang.Integer">
    UPDATE finance
    SET financeDelete=1
    WHERE financeID = #{financeId,jdbcType=INTEGER}
  </update>
  <insert id="insert" parameterType="pojo.com.jsgc.business.Finance" >
    insert into finance (financeId, financeSerials, financeDate, 
      financeName, financeMoney, financeStatus, 
      financeDelete, financeBorrowerId, financeLenderId, 
      financeBuyOrgId, financeBuyMethodId, financeTypeId, 
      payMethodId, projectId, contractId
      )
    values (#{financeId,jdbcType=INTEGER}, #{financeSerials,jdbcType=VARCHAR}, #{financeDate,jdbcType=DATE}, 
      #{financeName,jdbcType=VARCHAR}, #{financeMoney,jdbcType=INTEGER}, #{financeStatus,jdbcType=INTEGER}, 
      #{financeDelete,jdbcType=INTEGER}, #{financeBorrowerId,jdbcType=VARCHAR}, #{financeLenderId,jdbcType=VARCHAR}, 
      #{financeBuyOrgId,jdbcType=VARCHAR}, #{financeBuyMethodId,jdbcType=VARCHAR}, #{financeTypeId,jdbcType=VARCHAR}, 
      #{payMethodId,jdbcType=VARCHAR}, #{projectId,jdbcType=INTEGER}, #{contractId,jdbcType=INTEGER}
      )
  </insert>
  <insert id="insertSelective" parameterType="pojo.com.jsgc.business.Finance" >
    insert into finance
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="financeId != null" >
        financeId,
      </if>
      <if test="financeSerials != null" >
        financeSerials,
      </if>
      <if test="financeDate != null" >
        financeDate,
      </if>
      <if test="financeName != null" >
        financeName,
      </if>
      <if test="financeMoney != null" >
        financeMoney,
      </if>
      <if test="financeStatus != null" >
        financeStatus,
      </if>
      <if test="financeDelete != null" >
        financeDelete,
      </if>
      <if test="financeBorrowerId != null" >
        financeBorrowerId,
      </if>
      <if test="financeLenderId != null" >
        financeLenderId,
      </if>
      <if test="financeBuyOrgId != null" >
        financeBuyOrgId,
      </if>
      <if test="financeBuyMethodId != null" >
        financeBuyMethodId,
      </if>
      <if test="financeTypeId != null" >
        financeTypeId,
      </if>
      <if test="payMethodId != null" >
        payMethodId,
      </if>
      <if test="projectId != null" >
        projectId,
      </if>
      <if test="contractId != null" >
        contractId,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="financeId != null" >
        #{financeId,jdbcType=INTEGER},
      </if>
      <if test="financeSerials != null" >
        #{financeSerials,jdbcType=VARCHAR},
      </if>
      <if test="financeDate != null" >
        #{financeDate,jdbcType=DATE},
      </if>
      <if test="financeName != null" >
        #{financeName,jdbcType=VARCHAR},
      </if>
      <if test="financeMoney != null" >
        #{financeMoney,jdbcType=INTEGER},
      </if>
      <if test="financeStatus != null" >
        #{financeStatus,jdbcType=INTEGER},
      </if>
      <if test="financeDelete != null" >
        #{financeDelete,jdbcType=INTEGER},
      </if>
      <if test="financeBorrowerId != null" >
        #{financeBorrowerId,jdbcType=VARCHAR},
      </if>
      <if test="financeLenderId != null" >
        #{financeLenderId,jdbcType=VARCHAR},
      </if>
      <if test="financeBuyOrgId != null" >
        #{financeBuyOrgId,jdbcType=VARCHAR},
      </if>
      <if test="financeBuyMethodId != null" >
        #{financeBuyMethodId,jdbcType=VARCHAR},
      </if>
      <if test="financeTypeId != null" >
        #{financeTypeId,jdbcType=VARCHAR},
      </if>
      <if test="payMethodId != null" >
        #{payMethodId,jdbcType=VARCHAR},
      </if>
      <if test="projectId != null" >
        #{projectId,jdbcType=INTEGER},
      </if>
      <if test="contractId != null" >
        #{contractId,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="pojo.com.jsgc.business.Finance" >
    update finance
    <set >
      <if test="financeSerials != null" >
        financeSerials = #{financeSerials,jdbcType=VARCHAR},
      </if>
      <if test="financeDate != null" >
        financeDate = #{financeDate,jdbcType=DATE},
      </if>
      <if test="financeName != null" >
        financeName = #{financeName,jdbcType=VARCHAR},
      </if>
      <if test="financeMoney != null" >
        financeMoney = #{financeMoney,jdbcType=INTEGER},
      </if>
      <if test="financeStatus != null" >
        financeStatus = #{financeStatus,jdbcType=INTEGER},
      </if>
      <if test="financeDelete != null" >
        financeDelete = #{financeDelete,jdbcType=INTEGER},
      </if>
      <if test="financeBorrowerId != null" >
        financeBorrowerId = #{financeBorrowerId,jdbcType=VARCHAR},
      </if>
      <if test="financeLenderId != null" >
        financeLenderId = #{financeLenderId,jdbcType=VARCHAR},
      </if>
      <if test="financeBuyOrgId != null" >
        financeBuyOrgId = #{financeBuyOrgId,jdbcType=VARCHAR},
      </if>
      <if test="financeBuyMethodId != null" >
        financeBuyMethodId = #{financeBuyMethodId,jdbcType=VARCHAR},
      </if>
      <if test="financeTypeId != null" >
        financeTypeId = #{financeTypeId,jdbcType=VARCHAR},
      </if>
      <if test="payMethodId != null" >
        payMethodId = #{payMethodId,jdbcType=VARCHAR},
      </if>
      <if test="projectId != null" >
        projectId = #{projectId,jdbcType=INTEGER},
      </if>
      <if test="contractId != null" >
        contractId = #{contractId,jdbcType=INTEGER},
      </if>
    </set>
    where financeId = #{financeId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="pojo.com.jsgc.business.Finance" >
    update finance
    set financeSerials = #{financeSerials,jdbcType=VARCHAR},
      financeDate = #{financeDate,jdbcType=DATE},
      financeName = #{financeName,jdbcType=VARCHAR},
      financeMoney = #{financeMoney,jdbcType=INTEGER},
      financeStatus = #{financeStatus,jdbcType=INTEGER},
      financeDelete = #{financeDelete,jdbcType=INTEGER},
      financeBorrowerId = #{financeBorrowerId,jdbcType=VARCHAR},
      financeLenderId = #{financeLenderId,jdbcType=VARCHAR},
      financeBuyOrgId = #{financeBuyOrgId,jdbcType=VARCHAR},
      financeBuyMethodId = #{financeBuyMethodId,jdbcType=VARCHAR},
      financeTypeId = #{financeTypeId,jdbcType=VARCHAR},
      payMethodId = #{payMethodId,jdbcType=VARCHAR},
      projectId = #{projectId,jdbcType=INTEGER},
      contractId = #{contractId,jdbcType=INTEGER}
    where financeId = #{financeId,jdbcType=INTEGER}
  </update>

  <resultMap id="financeWithAssociation" type="pojo.com.jsgc.business.Finance">
    <id column="financeId" property="financeId" jdbcType="INTEGER" />
    <result column="financeSerials" property="financeSerials" jdbcType="VARCHAR" />
    <result column="financeDate" property="financeDate" jdbcType="DATE" />
    <result column="financeName" property="financeName" jdbcType="VARCHAR" />
    <result column="financeMoney" property="financeMoney" jdbcType="INTEGER" />
    <result column="financeStatus" property="financeStatus" jdbcType="INTEGER" />
    <result column="financeDelete" property="financeDelete" jdbcType="INTEGER" />
    <result column="financeBorrowerId" property="financeBorrowerId" jdbcType="VARCHAR" />
    <result column="financeLenderId" property="financeLenderId" jdbcType="VARCHAR" />
    <result column="financeBuyOrgId" property="financeBuyOrgId" jdbcType="VARCHAR" />
    <result column="financeBuyMethodId" property="financeBuyMethodId" jdbcType="VARCHAR" />
    <result column="financeTypeId" property="financeTypeId" jdbcType="VARCHAR" />
    <!--<result column="payMethodId" property="payMethodId" jdbcType="VARCHAR" />-->
    <result column="projectID" property="projectId" jdbcType="INTEGER" />
    <result column="contractID" property="contractId" jdbcType="INTEGER" />
    <association property="project" javaType="pojo.com.jsgc.business.Project" >
      <result column="projectName" property="projectName"></result>
    </association>
    <association property="contract" javaType="pojo.com.jsgc.business.Contract" >
      <result column="contractName" property="contractName"></result>
    </association>

    <association property="payMethod" javaType="pojo.com.jsgc.admin.PayMethod">
      <result column="payMethodInfo" property="payMethodInfo"></result>
    </association>
    <association property="buyMethod" javaType="pojo.com.jsgc.admin.BuyMethod">
      <result column="buyMethodInfo" property="buyMethodInfo"></result>
    </association>
    <association property="buyOrgForm" javaType="pojo.com.jsgc.admin.BuyOrgForm">
      <result column="buyOrgFormInfo" property="buyOrgFormInfo"></result>
    </association>
    <association property="buyType" javaType="pojo.com.jsgc.admin.BuyType">
      <result column="buyTypeInfo" property="buyTypeInfo"></result>
    </association>
    <association property="lender" javaType="pojo.com.jsgc.admin.Accountant">
      <result column="lendName" property="accountantName"></result>
    </association>
    <association property="borrower" javaType="pojo.com.jsgc.admin.Accountant">
      <result column="borrowName" property="accountantName"></result>
    </association>
  </resultMap>
  <select id="selectByConditions" parameterType="util.com.jsgc.searchCondition.FinanceSearchConditions" resultMap="financeWithAssociation">
    SELECT finance.projectID,finance.contractID,financeID,financeSerials,financeDate,financeName,financeMoney,financeStatus,financeDelete,financeBorrowerID,borrowName,financeLenderID,lendName,buyOrgFormInfo,financeBuyOrgID,financeBuyMethodID,buyMethodInfo,financeTypeID,buyTypeInfo,payMethodInfo,projectSerial,contractSerial,projectName,contractName,financeDate
    FROM finance
    INNER JOIN (SELECT accountantID,accountantName AS borrowName FROM accountant ) AS borrow ON financeBorrowerID = borrow.accountantID
    INNER JOIN (SELECT accountantID,accountantName AS lendName FROM accountant ) AS lend ON financeLenderID = lend.accountantID
    INNER JOIN buyorgform ON financeBuyOrgID = buyOrgFormID
    INNER JOIN buymethod ON financeBuyMethodID = buyMethodID
    INNER JOIN buytype ON financeTypeID = buyTypeID
    INNER JOIN paymethod ON finance.payMethodID = paymethod.`payMethodID`
    INNER JOIN project ON finance.`projectID` = project.`projectID`
    INNER JOIN contract ON finance.`contractID` = contract.`contractID`
    WHERE finance.`financeDelete`=0
    <if test="financeSerials!=null and financeSerials!=''" >
      and financeSerials=#{financeSerials}
    </if>
    <if test="projectSerial!=null and projectSerial!=''" >
      and projectSerial=#{projectSerial}
    </if>
    <if test="projectName!=null and projectName!=''">
      and projectName LIKE CONCAT('%',#{projectName},'%' )
    </if>
    <if test="contractSerial!=null and contractSerial!=''" >
      and contractSerial=#{contractSerial}
    </if>
    <if test="contractName!=null and contractName!=''">
      and contractName LIKE CONCAT('%',#{contractName},'%' )
    </if>
    <if test="financeDate!=null and financeDate!=''" >
      and financeDate=#{financeDate}
    </if>
    <if test="financePaid!=2 or financePaid==0">
      and financeStatus=#{financePaid}
    </if>
    <if test="financeBorrowerID!=null and financeBorrowerID!=''">
      and financeBorrowerID=#{financeBorrowerID}
    </if>
    <if test="financeLenderID!=null and financeLenderID!=''">
      and financeLenderID=#{financeLenderID}
    </if>
    <if test="payMethodID!=null and payMethodID!=''">
      and payMethodID=#{payMethodID}
    </if>
    <if test="financeBuyMethodID!=null and financeBuyMethodID!=''">
      and financeBuyMethodID=#{financeBuyMethodID}
    </if>
    <if test="fianceOrgID!=null and fianceOrgID!=''">
      and financeBuyOrgID=#{fianceOrgID}
    </if>
    <if test="financeTypeID!=null and financeTypeID!=''">
      and financeTypeID=#{financeTypeID}
    </if>
    <if test="financeMoneyMin!=null and financeMoneyMin!=0" >
      and financeMoney>=#{financeMoneyMin}
    </if>
    <if test="financeMoneyMax!=null and financeMoneyMax!=0">
      and #{financeMoneyMax}>=financeMoney
    </if>
    <if test="realOrder!=null and realOrder!=''">
      ORDER BY ${realOrder} ${descOrNot}
    </if>
  </select>
</mapper>