<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="mapper.com.jsgc.business.ProjectMapper" >
  <resultMap id="BaseResultMap" type="pojo.com.jsgc.business.Project" >
    <id column="projectId" property="projectId" jdbcType="INTEGER" />
    <result column="projectSerial" property="projectSerial" jdbcType="VARCHAR" />
    <result column="projectName" property="projectName" jdbcType="VARCHAR" />
    <result column="projectBudgetSum" property="projectBudgetSum" jdbcType="INTEGER" />
    <result column="projectStartTime" property="projectStartTime" jdbcType="DATE" />
    <result column="projectEndTime" property="projectEndTime" jdbcType="DATE" />
    <result column="projectStatus" property="projectStatus" jdbcType="INTEGER" />
    <result column="projectComment" property="projectComment" jdbcType="VARCHAR" />
    <result column="projectDelete" property="projectDelete" jdbcType="INTEGER" />
    <result column="projectDepartmentId" property="projectDepartmentId" jdbcType="VARCHAR" />
    <result column="budgetId" property="budgetId" jdbcType="INTEGER" />
    <result column="projectChargerId" property="projectChargerId" jdbcType="INTEGER" />
  </resultMap>
  <sql id="Base_Column_List" >
    projectId, projectSerial, projectName, projectBudgetSum, projectStartTime, projectEndTime, 
    projectStatus, projectComment, projectDelete, projectDepartmentId, budgetId, projectChargerId
  </sql>
  <!--lzq,插入判断主键序号是否存在-->
  <select id="ifSerialExistAdd" parameterType="java.lang.String" resultType="java.lang.Integer" >
    SELECT  count(*)
    from project
    where projectSerial=#{0} and projectDelete=0
  </select>
  <!--lzq,更新判断主键序号是否存在-->
  <select id="ifSerialExistUpdt" parameterType="pojo.com.jsgc.business.Project" resultType="java.lang.Integer">
    SELECT count(*)
    from project
    where projectSerial=#{projectSerial} and projectId!=#{projectId} and projectDelete=0
  </select>
  <!--lzq,分页测试-->
  <select id="selectAll" resultType="pojo.com.jsgc.business.Project">
    select *
    from project and projectDelete=0
  </select>
  <!--lzq,条件查询-->
  <resultMap id="projectWithAssociation" type="pojo.com.jsgc.business.Project">
    <id column="projectId" property="projectId" jdbcType="INTEGER" />
    <result column="projectSerial" property="projectSerial" jdbcType="VARCHAR" />
    <result column="projectName" property="projectName" jdbcType="VARCHAR" />
    <result column="projectBudgetSum" property="projectBudgetSum" jdbcType="INTEGER" />
    <result column="projectStartTime" property="projectStartTime" jdbcType="DATE" />
    <result column="projectEndTime" property="projectEndTime" jdbcType="DATE" />
    <result column="projectStatus" property="projectStatus" jdbcType="INTEGER" />
    <result column="projectComment" property="projectComment" jdbcType="VARCHAR" />
    <result column="projectDelete" property="projectDelete" jdbcType="INTEGER" />
    <result column="projectDepartmentId" property="projectDepartmentId" jdbcType="VARCHAR" />
    <result column="budgetId" property="budgetId" jdbcType="INTEGER" />
    <result column="projectChargerId" property="projectChargerId" jdbcType="INTEGER" />
    <association property="projectDepartment" javaType="pojo.com.jsgc.admin.Department" >
      <result column="departmentName" property="departmentName"></result>
    </association>
    <association property="projectCharger" javaType="pojo.com.jsgc.admin.User">
      <result column="username" property="username"></result>
    </association>
  </resultMap>
  <!--lzq,多条件搜索-->
  <select id="selectByConditions" parameterType="util.com.jsgc.searchCondition.ProjectSearchConditions" resultMap="projectWithAssociation">
    select p.*,u.username,d.departmentName
    from project p LEFT OUTER JOIN user u
    on  p.projectChargerID=u.userID
    LEFT OUTER JOIN department d
    on p.projectDepartmentID=d.departmentID
    where p.projectDelete=0
    <if test="projectSerial!=null and projectSerial!=''" >
      and p.projectSerial=#{projectSerial}
    </if>
    <if test="projectName!=null and projectName!=''">
      and p.projectName LIKE CONCAT('%',#{projectName},'%' )
    </if>
    <if test="projectDepartment!=null and projectDepartment!=''">
      and d.departmentID=#{projectDepartment}
    </if>
    <if test="projectOwner!=null and projectOwner!=''">
      and u.username=#{projectOwner}
    </if>
    <if test="projectBudgetDown!=null and projectBudgetDown!=0" >
      and p.projectBudgetSum>=#{projectBudgetDown}
    </if>
    <if test="projectBudgetUp!=null and projectBudgetUp!=0">
      and #{projectBudgetUp}>=p.projectBudgetSum
    </if>
    <if test="realOrder!=null and realOrder!=''">
      ORDER BY ${realOrder} ${descOrNot}
    </if>
  </select>
  <!--lzq,获取所有的projectSerial-->
  <select id="getSerials" resultType="java.lang.String">
    SELECT projectSerial
    from project
  </select>
  <select id="getProjectIDBySerial" parameterType="java.lang.String" resultType="java.lang.Integer">
    SELECT projectID
    from project
    where projectSerial = #{projectSerial,jdbcType=VARCHAR} and projectDelete=0
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from project
    where projectId = #{projectId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from project
    where projectId = #{projectId,jdbcType=INTEGER}
  </delete>
  <update id="deleteFakeByPrimaryKey" parameterType="java.lang.Integer">
    UPDATE project
    SET projectDelete=1
    WHERE projectID = #{0}
  </update>
  <insert id="insert" parameterType="pojo.com.jsgc.business.Project" >
    insert into project (projectId, projectSerial, projectName, 
      projectBudgetSum, projectStartTime, projectEndTime, 
      projectStatus, projectComment, projectDelete, 
      projectDepartmentId, budgetId, projectChargerId
      )
    values (#{projectId,jdbcType=INTEGER}, #{projectSerial,jdbcType=VARCHAR}, #{projectName,jdbcType=VARCHAR}, 
      #{projectBudgetSum,jdbcType=INTEGER}, #{projectStartTime,jdbcType=DATE}, #{projectEndTime,jdbcType=DATE}, 
      #{projectStatus,jdbcType=INTEGER}, #{projectComment,jdbcType=VARCHAR}, #{projectDelete,jdbcType=INTEGER}, 
      #{projectDepartmentId,jdbcType=VARCHAR}, #{budgetId,jdbcType=INTEGER}, #{projectChargerId,jdbcType=INTEGER}
      )
  </insert>
  <insert id="insertSelective" parameterType="pojo.com.jsgc.business.Project" >
    insert into project
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="projectId != null" >
        projectId,
      </if>
      <if test="projectSerial != null" >
        projectSerial,
      </if>
      <if test="projectName != null" >
        projectName,
      </if>
      <if test="projectBudgetSum != null" >
        projectBudgetSum,
      </if>
      <if test="projectStartTime != null" >
        projectStartTime,
      </if>
      <if test="projectEndTime != null" >
        projectEndTime,
      </if>
      <if test="projectStatus != null" >
        projectStatus,
      </if>
      <if test="projectComment != null" >
        projectComment,
      </if>
      <if test="projectDelete != null" >
        projectDelete,
      </if>
      <if test="projectDepartmentId != null" >
        projectDepartmentId,
      </if>
      <if test="budgetId != null" >
        budgetId,
      </if>
      <if test="projectChargerId != null" >
        projectChargerId,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="projectId != null" >
        #{projectId,jdbcType=INTEGER},
      </if>
      <if test="projectSerial != null" >
        #{projectSerial,jdbcType=VARCHAR},
      </if>
      <if test="projectName != null" >
        #{projectName,jdbcType=VARCHAR},
      </if>
      <if test="projectBudgetSum != null" >
        #{projectBudgetSum,jdbcType=INTEGER},
      </if>
      <if test="projectStartTime != null" >
        #{projectStartTime,jdbcType=DATE},
      </if>
      <if test="projectEndTime != null" >
        #{projectEndTime,jdbcType=DATE},
      </if>
      <if test="projectStatus != null" >
        #{projectStatus,jdbcType=INTEGER},
      </if>
      <if test="projectComment != null" >
        #{projectComment,jdbcType=VARCHAR},
      </if>
      <if test="projectDelete != null" >
        #{projectDelete,jdbcType=INTEGER},
      </if>
      <if test="projectDepartmentId != null" >
        #{projectDepartmentId,jdbcType=VARCHAR},
      </if>
      <if test="budgetId != null" >
        #{budgetId,jdbcType=INTEGER},
      </if>
      <if test="projectChargerId != null" >
        #{projectChargerId,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="pojo.com.jsgc.business.Project" >
    update project
    <set >
      <if test="projectSerial != null" >
        projectSerial = #{projectSerial,jdbcType=VARCHAR},
      </if>
      <if test="projectName != null" >
        projectName = #{projectName,jdbcType=VARCHAR},
      </if>
      <if test="projectBudgetSum != null" >
        projectBudgetSum = #{projectBudgetSum,jdbcType=INTEGER},
      </if>
      <if test="projectStartTime != null" >
        projectStartTime = #{projectStartTime,jdbcType=DATE},
      </if>
      <if test="projectEndTime != null" >
        projectEndTime = #{projectEndTime,jdbcType=DATE},
      </if>
      <if test="projectStatus != null" >
        projectStatus = #{projectStatus,jdbcType=INTEGER},
      </if>
      <if test="projectComment != null" >
        projectComment = #{projectComment,jdbcType=VARCHAR},
      </if>
      <if test="projectDelete != null" >
        projectDelete = #{projectDelete,jdbcType=INTEGER},
      </if>
      <if test="projectDepartmentId != null" >
        projectDepartmentId = #{projectDepartmentId,jdbcType=VARCHAR},
      </if>
      <if test="budgetId != null" >
        budgetId = #{budgetId,jdbcType=INTEGER},
      </if>
      <if test="projectChargerId != null" >
        projectChargerId = #{projectChargerId,jdbcType=INTEGER},
      </if>
    </set>
    where projectId = #{projectId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="pojo.com.jsgc.business.Project" >
    update project
    set projectSerial = #{projectSerial,jdbcType=VARCHAR},
      projectName = #{projectName,jdbcType=VARCHAR},
      projectBudgetSum = #{projectBudgetSum,jdbcType=INTEGER},
      projectStartTime = #{projectStartTime,jdbcType=DATE},
      projectEndTime = #{projectEndTime,jdbcType=DATE},
      projectStatus = #{projectStatus,jdbcType=INTEGER},
      projectComment = #{projectComment,jdbcType=VARCHAR},
      projectDelete = #{projectDelete,jdbcType=INTEGER},
      projectDepartmentId = #{projectDepartmentId,jdbcType=VARCHAR},
      budgetId = #{budgetId,jdbcType=INTEGER},
      projectChargerId = #{projectChargerId,jdbcType=INTEGER}
    where projectId = #{projectId,jdbcType=INTEGER}
  </update>
</mapper>