<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="mapper.admin.PayMethodMapper" >
  <resultMap id="BaseResultMap" type="com.jsxm.admin.PayMethod" >
    <id column="payMethodID" property="paymethodid" jdbcType="INTEGER" />
    <result column="payMethodInfo" property="paymethodinfo" jdbcType="VARCHAR" />
    <result column="versionID" property="versionid" jdbcType="INTEGER" />
  </resultMap>
  <sql id="Base_Column_List" >
    payMethodID, payMethodInfo, versionID
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from paymethod
    where payMethodID = #{paymethodid,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from paymethod
    where payMethodID = #{paymethodid,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.jsxm.admin.PayMethod" >
    insert into paymethod (payMethodID, payMethodInfo, versionID
      )
    values (#{paymethodid,jdbcType=INTEGER}, #{paymethodinfo,jdbcType=VARCHAR}, #{versionid,jdbcType=INTEGER}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.jsxm.admin.PayMethod" >
    insert into paymethod
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="paymethodid != null" >
        payMethodID,
      </if>
      <if test="paymethodinfo != null" >
        payMethodInfo,
      </if>
      <if test="versionid != null" >
        versionID,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="paymethodid != null" >
        #{paymethodid,jdbcType=INTEGER},
      </if>
      <if test="paymethodinfo != null" >
        #{paymethodinfo,jdbcType=VARCHAR},
      </if>
      <if test="versionid != null" >
        #{versionid,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.jsxm.admin.PayMethod" >
    update paymethod
    <set >
      <if test="paymethodinfo != null" >
        payMethodInfo = #{paymethodinfo,jdbcType=VARCHAR},
      </if>
      <if test="versionid != null" >
        versionID = #{versionid,jdbcType=INTEGER},
      </if>
    </set>
    where payMethodID = #{paymethodid,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.jsxm.admin.PayMethod" >
    update paymethod
    set payMethodInfo = #{paymethodinfo,jdbcType=VARCHAR},
      versionID = #{versionid,jdbcType=INTEGER}
    where payMethodID = #{paymethodid,jdbcType=INTEGER}
  </update>
</mapper>