<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="mapper.com.jsgc.admin.UserMapper" >
  <resultMap id="BaseResultMap" type="com.jsgc.admin.User" >
    <id column="userID" property="userId" jdbcType="INTEGER" />
    <result column="userName" property="userName" jdbcType="VARCHAR" />
    <result column="password" property="password" jdbcType="VARCHAR" />
    <result column="email" property="email" jdbcType="VARCHAR" />
    <result column="phone" property="phone" jdbcType="INTEGER" />
    <result column="permissionLevel" property="permissionLevel" jdbcType="INTEGER" />
    <result column="userDelete" property="userDelete" jdbcType="INTEGER" />
  </resultMap>
  <sql id="Base_Column_List" >
    userID, userName, password, email, phone, permissionLevel, userDelete
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from user
    where userID = #{userId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from user
    where userID = #{userId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.jsgc.admin.User" >
    insert into user (userID, userName, password,
      email, phone, permissionLevel, 
      userDelete)
    values (#{userId,jdbcType=INTEGER}, #{userName,jdbcType=VARCHAR}, #{password,jdbcType=VARCHAR},
      #{email,jdbcType=VARCHAR}, #{phone,jdbcType=INTEGER}, #{permissionLevel,jdbcType=INTEGER},
      #{userDelete,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.jsgc.admin.User" >
    insert into user
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="userId != null" >
        userID,
      </if>
      <if test="userName != null" >
        userName,
      </if>
      <if test="password != null" >
        password,
      </if>
      <if test="email != null" >
        email,
      </if>
      <if test="phone != null" >
        phone,
      </if>
      <if test="permissionLevel != null" >
        permissionLevel,
      </if>
      <if test="userDelete != null" >
        userDelete,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="userId != null" >
        #{userId,jdbcType=INTEGER},
      </if>
      <if test="userName != null" >
        #{userName,jdbcType=VARCHAR},
      </if>
      <if test="password != null" >
        #{password,jdbcType=VARCHAR},
      </if>
      <if test="email != null" >
        #{email,jdbcType=VARCHAR},
      </if>
      <if test="phone != null" >
        #{phone,jdbcType=INTEGER},
      </if>
      <if test="permissionLevel != null" >
        #{permissionLevel,jdbcType=INTEGER},
      </if>
      <if test="userDelete != null" >
        #{userDelete,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.jsgc.admin.User" >
    update user
    <set >
      <if test="userName != null" >
        userName = #{userName,jdbcType=VARCHAR},
      </if>
      <if test="password != null" >
        password = #{password,jdbcType=VARCHAR},
      </if>
      <if test="email != null" >
        email = #{email,jdbcType=VARCHAR},
      </if>
      <if test="phone != null" >
        phone = #{phone,jdbcType=INTEGER},
      </if>
      <if test="permissionLevel != null" >
        permissionLevel = #{permissionLevel,jdbcType=INTEGER},
      </if>
      <if test="userDelete != null" >
        userDelete = #{userDelete,jdbcType=INTEGER},
      </if>
    </set>
    where userID = #{userId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.jsgc.admin.User" >
    update user
    set userName = #{userName,jdbcType=VARCHAR},
      password = #{password,jdbcType=VARCHAR},
      email = #{email,jdbcType=VARCHAR},
      phone = #{phone,jdbcType=INTEGER},
      permissionLevel = #{permissionLevel,jdbcType=INTEGER},
      userDelete = #{userDelete,jdbcType=INTEGER}
    where userID = #{userId,jdbcType=INTEGER}
  </update>
</mapper>