<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="mapper.com.jsgc.admin.BuildContentMapper" >
  <resultMap id="BaseResultMap" type="pojo.com.jsgc.admin.BuildContent" >
    <id column="buildContentId" property="buildContentId" jdbcType="INTEGER" />
    <result column="versionId" property="versionId" jdbcType="INTEGER" />
    <result column="buildInfo" property="buildInfo" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    buildContentId, versionId, buildInfo
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from buildcontent
    where buildContentId = #{buildContentId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from buildcontent
    where buildContentId = #{buildContentId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="pojo.com.jsgc.admin.BuildContent" >
    insert into buildcontent (buildContentId, versionId, buildInfo
      )
    values (#{buildContentId,jdbcType=INTEGER}, #{versionId,jdbcType=INTEGER}, #{buildInfo,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="pojo.com.jsgc.admin.BuildContent" >
    insert into buildcontent
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="buildContentId != null" >
        buildContentId,
      </if>
      <if test="versionId != null" >
        versionId,
      </if>
      <if test="buildInfo != null" >
        buildInfo,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="buildContentId != null" >
        #{buildContentId,jdbcType=INTEGER},
      </if>
      <if test="versionId != null" >
        #{versionId,jdbcType=INTEGER},
      </if>
      <if test="buildInfo != null" >
        #{buildInfo,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="pojo.com.jsgc.admin.BuildContent" >
    update buildcontent
    <set >
      <if test="versionId != null" >
        versionId = #{versionId,jdbcType=INTEGER},
      </if>
      <if test="buildInfo != null" >
        buildInfo = #{buildInfo,jdbcType=VARCHAR},
      </if>
    </set>
    where buildContentId = #{buildContentId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="pojo.com.jsgc.admin.BuildContent" >
    update buildcontent
    set versionId = #{versionId,jdbcType=INTEGER},
      buildInfo = #{buildInfo,jdbcType=VARCHAR}
    where buildContentId = #{buildContentId,jdbcType=INTEGER}
  </update>
</mapper>