<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="mapper.com.jsgc.admin.BuyMethodMapper" >
  <resultMap id="BaseResultMap" type="pojo.com.jsgc.admin.BuyMethod" >
    <id column="buyMethodId" property="buyMethodId" jdbcType="VARCHAR" />
    <result column="buyMethodInfo" property="buyMethodInfo" jdbcType="VARCHAR" />
    <result column="versionId" property="versionId" jdbcType="INTEGER" />
  </resultMap>
  <sql id="Base_Column_List" >
    buyMethodId, buyMethodInfo, versionId
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from buymethod
    where buyMethodId = #{buyMethodId,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from buymethod
    where buyMethodId = #{buyMethodId,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="pojo.com.jsgc.admin.BuyMethod" >
    insert into buymethod (buyMethodId, buyMethodInfo, versionId
      )
    values (#{buyMethodId,jdbcType=VARCHAR}, #{buyMethodInfo,jdbcType=VARCHAR}, #{versionId,jdbcType=INTEGER}
      )
  </insert>
  <insert id="insertSelective" parameterType="pojo.com.jsgc.admin.BuyMethod" >
    insert into buymethod
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="buyMethodId != null" >
        buyMethodId,
      </if>
      <if test="buyMethodInfo != null" >
        buyMethodInfo,
      </if>
      <if test="versionId != null" >
        versionId,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="buyMethodId != null" >
        #{buyMethodId,jdbcType=VARCHAR},
      </if>
      <if test="buyMethodInfo != null" >
        #{buyMethodInfo,jdbcType=VARCHAR},
      </if>
      <if test="versionId != null" >
        #{versionId,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="pojo.com.jsgc.admin.BuyMethod" >
    update buymethod
    <set >
      <if test="buyMethodInfo != null" >
        buyMethodInfo = #{buyMethodInfo,jdbcType=VARCHAR},
      </if>
      <if test="versionId != null" >
        versionId = #{versionId,jdbcType=INTEGER},
      </if>
    </set>
    where buyMethodId = #{buyMethodId,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="pojo.com.jsgc.admin.BuyMethod" >
    update buymethod
    set buyMethodInfo = #{buyMethodInfo,jdbcType=VARCHAR},
      versionId = #{versionId,jdbcType=INTEGER}
    where buyMethodId = #{buyMethodId,jdbcType=VARCHAR}
  </update>
</mapper>