<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="mapper.com.jsgc.admin.VersionMapper" >
  <resultMap id="BaseResultMap" type="pojo.com.jsgc.admin.Version" >
    <id column="verisionId" property="verisionId" jdbcType="INTEGER" />
    <result column="versionDate" property="versionDate" jdbcType="DATE" />
    <result column="versionBuildNum" property="versionBuildNum" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    verisionId, versionDate, versionBuildNum
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from version
    where verisionId = #{verisionId,jdbcType=INTEGER}
  </select>
  <select id="selectByVersionName" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select
    <include refid="Base_Column_List" />
    from version
    where versionBuildNum = #{0,jdbcType=INTEGER}
  </select>
  <select id="selectAll" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from version
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from version
    where verisionId = #{verisionId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="pojo.com.jsgc.admin.Version" >
    insert into version (verisionId, versionDate, versionBuildNum
      )
    values (#{verisionId,jdbcType=INTEGER}, #{versionDate,jdbcType=DATE}, #{versionBuildNum,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="pojo.com.jsgc.admin.Version" >
    insert into version
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="verisionId != null" >
        verisionId,
      </if>
      <if test="versionDate != null" >
        versionDate,
      </if>
      <if test="versionBuildNum != null" >
        versionBuildNum,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="verisionId != null" >
        #{verisionId,jdbcType=INTEGER},
      </if>
      <if test="versionDate != null" >
        #{versionDate,jdbcType=DATE},
      </if>
      <if test="versionBuildNum != null" >
        #{versionBuildNum,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="pojo.com.jsgc.admin.Version" >
    update version
    <set >
      <if test="versionDate != null" >
        versionDate = #{versionDate,jdbcType=DATE},
      </if>
      <if test="versionBuildNum != null" >
        versionBuildNum = #{versionBuildNum,jdbcType=VARCHAR},
      </if>
    </set>
    where verisionId = #{verisionId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="pojo.com.jsgc.admin.Version" >
    update version
    set versionDate = #{versionDate,jdbcType=DATE},
      versionBuildNum = #{versionBuildNum,jdbcType=VARCHAR}
    where verisionId = #{verisionId,jdbcType=INTEGER}
  </update>
</mapper>